/* Slider de Imagenes */

/* Media Queries Pantalla pequeña */

@media (max-width: 768px) { 
        #intro {
                width: 90% !important;
        }

        .servicio-fila{
                width: 100% !important;
        }
}


/* Media pantalla extra-small */

@media(max-width: 576px) {
        .icono-wrap: flex-wrap: wrap;
        justify-content: center !important;

}
